@media screen and (max-width: 768px) {
  #header-nav {
    position: relative;
  }
  #header-nav #navbar .logo {
    margin-left: 30px;
  }
  #header-nav #navbar .logo a {
    font-size: 1.5em;
  }
  #nav-links {
    display: none;
    position: absolute;
    gap: 10px;
    top: 50px;
    right: 0;
    width: 50%;
    height: 300px;
    background-color: rgb(51, 51, 51);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 10px;
  }
  .menu-button {
    display: block;
  }
  #nav-links.show {
    display: flex;
  }

  #home-banner .text-banner {
    margin: auto;
    width: 70%;
  }
  #home-banner .text-banner h1 {
    font-size: 2.5em;
    font-weight: 700;
  }
  #home-banner .text-banner h1 span {
    font-weight: 700;
  }
  #home-banner .text-banner p {
    text-align: center;
    font-size: 1.2em;
  }

  #acquisition-content {
    width: 90%;
    justify-content: center;
  }

  .acquisition-title {
    position: initial;
    left: 50%;
  }

  .acquisition-item {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .acquisition-image {
    height: 200px;
  }

  .acquisition-para {
    font-size: 16px;
  }

  .our-team {
    flex-direction: column;
    height: auto;
  }

  .image-team {
    width: 100%;
    height: 200px;
  }

  .text-team {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }

  .text-team h2 {
    font-size: 1.5em;
  }

  .text-team p {
    padding: 0 10px;
    font-size: 14px;
  }

  .testimony-item {
    flex-direction: column;
  }

  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 20px; /* Espace entre les colonnes */
    padding: 0 10px; /* Espacement à l'intérieur du conteneur */
  }

  .service-item {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .service-image {
    height: 150px; /* Ajuster la hauteur de l'image */
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
  }

  .service-item h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  .service-item p {
    font-size: 14px;
    color: #666;
  }

  .best-note-service {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .service-box {
    display: block;
    width: 100%;
    height: auto;
    color: black;
    overflow: hidden;
    position: relative;
  }

  .service-bio {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    box-sizing: border-box;
  }

  .service-name {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .service-price {
    font-size: 14px;
  }

  .note-service1,
  .note-service2,
  .note-service3,
  .note-service4,
  .note-service5,
  .note-service6 {
    grid-column: 1;
    grid-row: auto;
  }

  .team-member {
    flex: 1 1 calc(50% - 40px);
  }
}

/* Media Query for 576px */
@media (max-width: 576px) {
    header {
      flex-direction: column;
      height: auto;
    }
  
    #header-nav {
      position: relative;
      flex-direction: column;
      align-items: center;
    }
  
    #header-nav #navbar .logo {
      margin-left: 0;
      font-size: 1.2em;
    }
  
    #nav-links {
      display: none;
      position: absolute;
      gap: 10px;
      top: 50px;
      right: 0;
      width: 70%;
      height: auto;
      background-color: rgb(51, 51, 51);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0 0 0 10px;
    }
  
    .menu-button {
      display: block;
    }
  
    #nav-links.show {
      display: flex;
    }
  
    #home-banner .text-banner {
      margin: auto;
      width: 80%;
    }
  
    #home-banner .text-banner h1 {
      font-size: 2em;
      font-weight: 700;
    }
  
    #home-banner .text-banner h1 span {
      font-weight: 700;
    }
  
    #home-banner .text-banner p {
      text-align: center;
      font-size: 1em;
    }
  
    #acquisition-content {
      width: 95%;
      justify-content: center;
    }
  
    .acquisition-title {
      position: initial;
      left: 50%;
      text-align: center;
    }
  
    .acquisition-item {
      flex: 1 1 100%;
      margin: 10px 0;
    }
  
    .acquisition-image {
      height: 150px;
    }
  
    .acquisition-para {
      font-size: 14px;
    }
  
    .our-team {
      flex-direction: column;
      height: auto;
    }
  
    .image-team {
      width: 100%;
      height: 150px;
    }
  
    .text-team {
      width: 100%;
      margin: 20px auto;
      text-align: center;
    }
  
    .text-team h2 {
      font-size: 1.2em;
    }
  
    .text-team p {
      padding: 0 10px;
      font-size: 12px;
    }
  
    .testimony-item {
      flex-direction: column;
      text-align: center;
    }
  
    .services-container {
      display: grid;
      grid-template-columns: 1fr; /* Une seule colonne */
      gap: 10px; /* Espace entre les colonnes */
      padding: 0 10px; /* Espacement à l'intérieur du conteneur */
    }
  
    .service-item {
      padding: 10px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    .service-image {
      height: 100px; /* Ajuster la hauteur de l'image */
      background-size: cover;
      background-position: center;
      border-radius: 8px 8px 0 0;
    }
  
    .service-item h3 {
      font-size: 16px;
      margin-top: 10px;
    }
  
    .service-item p {
      font-size: 12px;
      color: #666;
    }
  
    .best-note-service {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .service-box {
      display: block;
      width: 100%;
      height: auto;
      color: black;
      overflow: hidden;
      position: relative;
    }
  
    .service-bio {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      box-sizing: border-box;
    }
  
    .service-name {
      font-size: 16px;
      margin-bottom: 5px;
    }
  
    .service-price {
      font-size: 12px;
    }
  
    .note-service1,
    .note-service2,
    .note-service3,
    .note-service4,
    .note-service5,
    .note-service6 {
      grid-column: 1;
      grid-row: auto;
    }
  
    .team-member {
      flex: 1 1 100%;
      margin: 10px 0;
    }
  
    /* Contact Section */
    .contact {
      padding: 10px;
      margin: 20px auto;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  
    .contact h2 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
  
    .form-group {
      margin-bottom: 10px;
    }
  
    .form-group input,
    .form-group textarea {
      padding: 8px;
      font-size: 14px;
    }
  
    .form-group button {
      padding: 8px;
      font-size: 14px;
    }
  
    /* Footer */
    footer {
      flex-direction: column;
      height: auto;
      padding: 10px 0;
    }
  
    footer p {
      text-align: center;
      font-size: 12px;
    }
  }
  