@media screen and (max-width: 768px) {
  #header-nav {
    position: relative;
  }
  #header-nav #navbar .logo {
    margin-left: 30px;
  }
  #header-nav #navbar .logo a {
    font-size: 1.5em;
  }
  #nav-links {
    display: none;
    position: absolute;
    gap: 10px;
    top: 50px;
    right: 0;
    width: 250px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(51, 51, 51, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 10px;
  }
  #header-nav #navbar ul li a {
    font-size: 1.5em;
    font-weight: 700;
  }
  .menu-button {
    display: block;
  }
  #nav-links.show {
    display: flex;
  }

  #home-banner .text-banner {
    margin: auto;
    width: 70%;
  }
  #home-banner .text-banner h1 {
    font-size: 2em;
    text-align: center;
    font-weight: 700;
  }
  #home-banner .text-banner h1 span {
    font-weight: 700;
  }
  #home-banner .text-banner p {
    text-align: center;
    font-size: 1.2em;
  }

  #acquisition-content {
    width: 90%;
    justify-content: center;
  }

  .acquisition-title {
    position: initial;
    left: 50%;
  }

  .acquisition-item {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .acquisition-image {
    height: 200px;
  }

  .acquisition-para {
    font-size: 16px;
  }

  .our-team {
    flex-direction: column;
    height: auto;
  }

  .image-team {
    width: 100%;
    height: 200px;
  }

  .text-team {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }

  .text-team h2 {
    font-size: 1.5em;
  }

  .text-team p {
    padding: 0 10px;
    font-size: 14px;
  }
  .testimonies {
    padding: 20px 20px 0;
  }

  .testimonies-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
  }
  .testimonies-content h3 {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 30px;
    margin-top: 0;
    position: initial;
    text-align: center;
  }
  .testimonies-content span {
    grid-column: 1/3;
    grid-row: 2;
    margin: 0;
  }

  .item-1 {
    grid-column: 1;
    grid-row: 3;
  }
  .item-2 {
    grid-column: 2;
    grid-row: 3;
  }
  .item-3 {
    margin: 0;
    grid-column: 1/3;
    grid-row: 4;
  }
  .testimony-item {
    flex-direction: column;
    margin: 2px;
  }

  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 20px; /* Espace entre les colonnes */
    padding: 0 10px; /* Espacement à l'intérieur du conteneur */
  }

  .service-item {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .service-image {
    height: 150px; /* Ajuster la hauteur de l'image */
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
  }

  .service-item h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  .service-item p {
    font-size: 14px;
    color: #666;
  }

  .best-note-service {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .service-box {
    display: block;
    width: 100%;
    height: auto;
    color: black;
    overflow: hidden;
    position: relative;
  }

  .service-bio {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    box-sizing: border-box;
  }

  .service-name {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .service-price {
    font-size: 14px;
  }

  .note-service1,
  .note-service2,
  .note-service3,
  .note-service4,
  .note-service5,
  .note-service6 {
    grid-column: 1;
    grid-row: auto;
  }

  .team-member {
    flex: 1 1 calc(50% - 40px);
  }
}

/* Media Query for 576px */
@media (max-width: 576px) {
  .testimonies {
    padding: 20px 20px 0;
  }

  .testimonies-content {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .testimonies-content h3 {
    position: initial;
    text-align: center;
  }
  .testimonies-content span {
    margin: 0;
  }

  .testimony-item {
    flex-direction: column;
    margin: 2px;
  }

  /* Nos offres part */
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  .service-item {
    flex: 1 1 calc(33% - 40px);
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .service-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
  }

  .service-item h3 {
    margin-top: 15px;
    font-size: 24px;
  }

  .service-item p {
    color: #666;
  }
}
