/* 
Author  : Designed by Bendy SERVILUS
Date    : june, 2024
*/
:root {
  --color1 : rgba(189, 171, 171, 0.3);
  --color2 : rgba(51, 51, 51);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--color1);
}
a {
  text-decoration: none;
}

header {
  display: flex;
  height: 50px;
  background-color: rgb(51, 51, 51);
}

#header-nav {
  line-height: 50px;
  width: 100%;
}

#header-nav #navbar {
  display: flex;
  justify-content: space-between;
}

#header-nav #navbar .logo {
  margin-left: 15px;
}
#header-nav #navbar .logo a {
  font-family: "Indie Flower", cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

#header-nav #navbar .logo i {
  color: orange;
  margin-right: 10px;
}

#header-nav #navbar .logo a {
  color: #fff;
}

#nav-links {
  display: flex;
  justify-content: center;
}

#header-nav #navbar ul li {
  list-style: none;
}

#header-nav #navbar ul li a {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#header-nav #navbar ul li a:hover {
  background-color: teal;
  font-weight: 600;
  color: #fff;
}

.menu-button{
  color: #fff;
  position: absolute;
  right: 0;
  margin-right: 25px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

#home-banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 50px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

#home-banner .text-banner {
  display: flex;
  flex-direction: column;
  margin: auto 34%;
}

#home-banner .text-banner h1 {
  font-size: 33px;
  color: #fff;
  font-weight: 500;
}

#home-banner .text-banner h1 span {
  color: orange;
  font-weight: 500;
}
#home-banner .text-banner p {
  color: #fff;
  text-align: justify;
  font-size: 13px;
  margin-top: 5px;
}

/* Section Acquisition */
#acquisition {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  position: relative;
}

#acquisition-content {
  display: flex;
  justify-content: space-around;
  width: 70%;
  flex-wrap: wrap;
}

.acquisition-title {
  position: absolute;
  top: -30px;
  left: 209px;
}
.acquisition-title h4 {
  font-weight: initial;
  font-size: 22px;
}

.acquisition-item {
  flex: 1 1 calc(33% - 40px);
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.acquisition-item:hover {
  background-color: #333;
}

.acquisition-image {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.separateur {
  height: 1.5px;
  width: 30px;
  margin-right: auto;
  background-color: gray;
  display: inline-block;
}
.acquisition-para {
  text-align: center;
  background-color: #fff;
  padding: 10px;
  font-size: 13px;
  height: auto;
}

/* Section Our Team */
.our-team {
  height: 350px;
  margin-top: 30px;
  display: flex;
  background-color: var(--color2);
}

.image-team {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-team {
  margin: auto 20px;
  text-align: justify;
  width: 100%;
}

.text-team h2 {
  font-size: 1.7em;
  margin-bottom: 10px;
}

.text-team h2,
.text-team p {
  color: #fff;
}

.text-team p {
  font-size: 12px;
}

.text-team h2 span {
  color: orange;
}

/* White separator */
.white-separator {
  height: 20px;
  background-color: #fff;
  width: 100%;
}
/* Section Testimonies */
.testimonies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0;
}

.testimonies-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  position: relative;
}

.testimonies-content h3 {
  font-size: 20px;
  margin-bottom: 20px;
  position: absolute;
  top: -20px;
  left: 0;
}

.black-line {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.10);
}

.testimony-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  margin: 20px 0;
}
.testimony-item:last-child {
  margin-bottom: 0;
}

.testimonial-text {
  flex: 1;
  position: relative;
  padding: 0 20px;
}

.testimonial-text i {
  font-size: 24px;
  color: black;
  position: absolute;
}

.testimonial-text i.fa-quote-left {
  top: 0;
  left: 5px;
}

.testimonial-text i.fa-quote-right {
  margin-left: 10px;
}

.testimonial-text p {
  margin: auto 0 0 10px;
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  text-align: justify;
}

.testimonial-author {
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.testimonial-author img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover; /* Assure que l'image couvre entièrement le conteneur sans déformation */
  margin-right: 10px;
}

.testimonial-author h4 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.testimonial-author span {
  font-size: 14px;
  color: #777;
}

/* Nos offres pages */
.banner-services {
  display: flex;
  height: calc(30vh - 50px);
  width: 100%;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(43, 43, 43, 0.5);
}

.banner-services-text {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.banner-services-text h1 {
  margin: auto;
  color: #fff;
  font-weight: 600;
  font-size: 2em;
}
.banner-services-text p {
  color: #fff;
  margin: auto;
}

.section-title {
  text-align: center;
  margin: 40px auto;
}

/* Nos offres part */
.services-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.service-item {
  flex: 1 1 calc(33% - 40px);
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0 0;
}

.service-item h3 {
  margin-top: 15px;
  font-size: 24px;
}

.service-item p {
  color: #666;
}

/* Best note part */
/* grid part */
.all-service-title{
  position: relative;
  font-size: 24px;
  font-weight: 600;
}
.all-service-title::before{
  content: '';
  position: absolute;
  width: 103px;
  height: 5px;
  bottom: 0;
  background-color: teal;
}

.all-service-container{
  padding: 0 100px;
  min-height: 150vh;
  margin-top: 50px;
}

.best-note-service{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 400px);
  gap: 2px;
}

.service-box{
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  overflow: hidden;
}
.service-box::before{
  position: absolute;
  content: "Visiter";
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  left: -100%;
  transition: left 0.4s;
}
.service-box:hover::before{
  left: 0;
}
.note-service1{
  grid-column: 1/3;
  grid-row: 1/3;
}
.note-service2{
  grid-column: 3/5;
}
.note-service3{
  grid-column: 3/5;
}
.note-service4{
  grid-column: 1;
  grid-row: 3/5;
}
.note-service5{
  grid-column: 2/4;
  grid-row: 3/5;
}
.note-service6{
  grid-column: 4;
  grid-row: 3/5;
}

.service-bio{
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px 20px;
  color: #fff;
  background-color: teal;
}
.service-name{
  font-weight: 500;
  font-size: 30px;
}
.service-price{
  font-size: 20px;
  margin: auto 0;
}
/* End grid pard */


/* Our team page */
.team-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.team-member {
  flex: 1 1 calc(33% - 40px); /* Trois colonnes pour grands écrans */
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member h3 {
  margin-top: 10px;
  font-size: 24px;
}

.team-member p {
  color: #666;
  margin: 10px 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #333;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: orange;
}

/* Contact page */
.contact {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-family: "Nanum Myeongjo", serif;
  margin-bottom: 5px;
  color: #555;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 16px;
}

.form-group textarea {
  resize: none;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group button:hover {
  background-color: #0056b3;
}

/* Footer */
footer {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--color2);
}

footer p {
  margin: auto;
}